@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme {
  --color-primary: #365ff5;
  --color-black: #333;
  --color-black-dark: #2c2c2c;
  --color-gray: #636a7d;
  --color-gray-light: #e5e5e5;
  --color-gray-dark: #9f9f9f;
  --color-blue: #375ff4;
  --color-blue-light: #f1f4fe;
  --color-warning: #ffca4c;

  --text-20: 20px;
  --text-22: 22px;
  --text-28: 28px;
  --text-40: 40px;

  /* margin */
  --inset-shadow-card: 0px 0px 10px 3px #ecf0fb;
}

@layer utilities {
  :root {
    --banner1: url("https://ziweiton.oss-cn-hangzhou.aliyuncs.com/banner1.webp");
  }

  .bg-custom {
    background-image: var(--banner1);
  }
}

html,
body {
  color: var(--color-black);
  background: #f1f4fe;
  font-family: Source Han Sans CN;
  width: 100vw;
  height: 100vh;
}
